---
{% if potos_runtype == 'setup' %}
- name: firstboot
  src: git+https://github.com/projectpotos/ansible-role-potos_firstboot
  version: 'main'
{% endif %}
- name: basics
  src: git+https://github.com/projectpotos/ansible-role-potos_basics.git
  version: 'main'

- name: wallpaper_private
  src: git@github.com:fadnincx/ansible-role-private_wallpaper.git
  scm: git
  version: 'main'
  key_file: github.rsa
